.inputRech {
    outline: none;
  }
  .inputRech::-webkit-search-decoration,
  .inputRech::-webkit-search-cancel-button {
    display: none;
  }
  
  .inputRech[type="search"] {
    background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 100px;
  
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
  
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .inputRech[type="search"]:focus {
    width: 205px;
    background-color: #fff;
    border-color: #66cc75;
  
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  }
  
  .inputRech:-moz-placeholder {
    color: #999;
  }
  .inputRech::-webkit-input-placeholder {
    color: #999;
  }
/* CONTACTS */
.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
  }
  .contact-box > a {
    color: inherit;
  }
  .contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
  }
  .contact-box.center-version > a {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  .contact-box.center-version > a img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-box.center-version address {
    margin-bottom: 0;
  }
  .contact-box .contact-box-footer {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;
  }
  .md-skin .contact-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
  }
  .chat-element img.rounded-circle,
.dropdown-messages-box img.rounded-circle {
  width: 38px;
  height: 38px;
}
.forum-avatar .rounded-circle {
    height: 48px;
    width: 48px;
  }
  .media-body > .media .forum-avatar .rounded-circle {
    height: 38px;
    width: 38px;
  }
  .sidebar-panel .feed-element img.rounded-circle {
    width: 32px;
    height: 32px;
  }
  .feed-element img.rounded-circle,
.dropdown-messages-box img.rounded-circle {
  width: 38px;
  height: 38px;
}
.team-members img.rounded-circle {
    width: 42px;
    height: 42px;
    margin-bottom: 5px;
  }
  .skin-1 .rounded-circle {
    border-radius: 5px;
  }
  .skin-2 .rounded-circle {
    border-radius: 10px;
  }    