
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Google form</title>
</head>
<body class="body">
  <div class="containers">
    <div class="head">
      <img src="../../../assets/img/growacademy (2).png" alt="">
    </div>
      <div class="titre">
      
        <h1>Tech et Digital <span id="span">*</span></h1>
      </div>


      <div class="evaluateur">
        <p class="nom"> Nom de l'évaluateur <span id="span">*</span></p>
        <div class="col-md-4">
            <select class=" select form-control" name="" id="" style="width:335px; height:50px;">
                <option value="Mbacke Mbaye">Mbacke Mbaye</option>
            </select>
        </div>
    </div>

    <div class="evaluer">
      <p class="nom"> Nom de la personne à évaluer <span id="span">*</span></p>
      <div class="col-md-4">
      <select class="select form-control" name="" id="" style="width:335px; height:50px;">
          <option value="Mbacke Mbaye">Mbacke Mbaye</option>
      </select>
      </div>
    </div>

    <form action="">
      <div class="critere">
          <p class="nom">Persévérance : Boxe, Deadline, Progression, Général.  <span id="span">*</span></p> 
              <div class="b">
              <b> <a href="#" class="a">0</a>  </b>
              <b> <a href="#" class="a">1</a>  </b>
              <b> <a href="#" class="a">2</a>  </b>
              <b> <a href="#" class="a">3</a>  </b>
              <b> <a href="#" class="a">4</a>  </b>
              <b> <a href="#" class="a">5</a>  </b>
              <b> <a href="#" class="a">6</a>  </b>
              <b> <a href="#" class="a">7</a>  </b>
              <b> <a href="#" class="a">8</a>  </b>
              <b> <a href="#" class="a">9</a>  </b>
              <b> <a href="#" class="a">10</a>  </b>



              </div>
      </div>

      <div class="critere">
          <p class="nom">Confiance en soi : Storytelling, Participation sessions, Giving Back, Général. <span id="span">*</span></p> 
              <div class="b">
              <b> <a href="#" class="a">0</a>  </b>
              <b> <a href="#" class="a">1</a>  </b>
              <b> <a href="#" class="a">2</a>  </b>
              <b> <a href="#" class="a">3</a>  </b>
              <b> <a href="#" class="a">4</a>  </b>
              <b> <a href="#" class="a">5</a>  </b>
              <b> <a href="#" class="a">6</a>  </b>
              <b> <a href="#" class="a">7</a>  </b>
              <b> <a href="#" class="a">8</a>  </b>
              <b> <a href="#" class="a">9</a>  </b>
              <b> <a href="#" class="a">10</a>  </b>
              </div>
      </div>

      <div class="critere">
          <p class="nom">Collaboration : Peer to peer, Participation, Communication, Général. <span id="span">*</span></p> 
              <div class="b">
              <b> <a href="#" class="a">0</a>  </b>
              <b> <a href="#" class="a">1</a>  </b>
              <b> <a href="#" class="a">2</a>  </b>
              <b> <a href="#" class="a">3</a>  </b>
              <b> <a href="#" class="a">4</a>  </b>
              <b> <a href="#" class="a">5</a>  </b>
              <b> <a href="#" class="a">6</a>  </b>
              <b> <a href="#" class="a">7</a>  </b>
              <b> <a href="#" class="a">8</a>  </b>
              <b> <a href="#" class="a">9</a>  </b>
              <b> <a href="#" class="a">10</a>  </b>
              </div>
      </div>

      <div class="critere">
          <p class="nom">Autonomie : Prise d'initiative, Organisation, End to end, Général. <span id="span">*</span></p> 
              <div class="b">
              <b> <a href="#" class="a">0</a>  </b>
              <b> <a href="#" class="a">1</a>  </b>
              <b> <a href="#" class="a">2</a>  </b>
              <b> <a href="#" class="a">3</a>  </b>
              <b> <a href="#" class="a">4</a>  </b>
              <b> <a href="#" class="a">5</a>  </b>
              <b> <a href="#" class="a">6</a>  </b>
              <b> <a href="#" class="a">7</a>  </b>
              <b> <a href="#" class="a">8</a>  </b>
              <b> <a href="#" class="a">9</a>  </b>
              <b> <a href="#" class="a">10</a>  </b>
              </div>
      </div>
      <div class="critere">
          <p class="nom">Problem solving : Créativité, Initiative, Persévérance, Général. <span id="span">*</span></p> 
              <div class="b">
              <b> <a href="#" class="a">0</a>  </b>
              <b> <a href="#" class="a">1</a>  </b>
              <b> <a href="#" class="a">2</a>  </b>
              <b> <a href="#" class="a">3</a>  </b>
              <b> <a href="#" class="a">4</a>  </b>
              <b> <a href="#" class="a">5</a>  </b>
              <b> <a href="#" class="a">6</a>  </b>
              <b> <a href="#" class="a">7</a>  </b>
              <b> <a href="#" class="a">8</a>  </b>
              <b> <a href="#" class="a">9</a>  </b>
              <b> <a href="#" class="a">10</a>  </b>
              </div>
      </div>
      <div class="critere">
          <p class="nom">Transmission : Pédagogie, Peer to peer, Giving Back Days, Général. <span id="span">*</span></p> 
              <div class="b">
              <b> <a href="#" class="a">0</a>  </b>
              <b> <a href="#" class="a">1</a>  </b>
              <b> <a href="#" class="a">2</a>  </b>
              <b> <a href="#" class="a">3</a>  </b>
              <b> <a href="#" class="a">4</a>  </b>
              <b> <a href="#" class="a">5</a>  </b>
              <b> <a href="#" class="a">6</a>  </b>
              <b> <a href="#" class="a">7</a>  </b>
              <b> <a href="#" class="a">8</a>  </b>
              <b> <a href="#" class="a">9</a>  </b>
              <b> <a href="#" class="a">10</a>  </b>
              </div>
      </div>
      <div class="critere">
          <p class="nom">Performance : Efficience, Qualité, Productivité, Général. <span id="span">*</span></p> 
              <div class="b">
              <b> <a href="#" class="a">0</a>  </b>
              <b> <a href="#" class="a">1</a>  </b>
              <b> <a href="#" class="a">2</a>  </b>
              <b> <a href="#" class="a">3</a>  </b>
              <b> <a href="#" class="a">4</a>  </b>
              <b> <a href="#" class="a">5</a>  </b>
              <b> <a href="#" class="a">6</a>  </b>
              <b> <a href="#" class="a">7</a>  </b>
              <b> <a href="#" class="a">8</a>  </b>
              <b> <a href="#" class="a">9</a>  </b>
              <b> <a href="#" class="a">10</a>  </b>
              </div>
      </div>
          
      <input type="submit" value="Envoyer" class="bouton">

  </form>




  </div>
</body>
</html>