<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <!-- <input type="search" name="" class="" id=""> -->
      <div class="form-group marginRech">
        <input type="search" placeholder="Recherche" class="inputRech">
    </div>
    
    </div>
    <div class="col-7"></div>
    <div class="col-2">
      <a [routerLink]="['/structure/new']" routerLinkActive="router-link-active" >NEW
        <!-- <input type="submit" value="NEW" (click)="new()" class="btn btn-primary"> -->
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of structuremodel">
      <a [routerLink]="['/onestructure',item.id]" >
      <div class="card mb-4">
        <img class="card-img-top" src="../../../assets/img/pencil.jpg"  alt="Card image cap">
        <div class="card-body">
           <h1 class="card-title">{{item.nom}}</h1>
        </div>
     </div>
    </a>
    </div>

</div>
</div>