<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="login-wrap">
        <div class="user-pic">
          
          <img [src]="image" class="photo"  alt="user-pic" (click)="pp.click()">
          <input  hidden #pp type="file" accept="image/*" (change)="handleFileInputPP($event.target.files)">
        </div>
        <div class="user-details">
          <form [formGroup]="user" class="">
            <div class="form-group row" >
              <label for="prenom" class="label col-3">Prenom</label>
              <input type="text" formControlName="prenom" class="form-control col-7">
            </div>
            <div class="form-group row">
              <label for="prenom" class="label col-3">Nom</label>
              <input type="text" formControlName="nom" class="form-control col-7">
            </div>
            <div class="form-group row">
              <label for="prenom" class="label col-3">Telephone</label>
              <input type="text" formControlName="telephone" class="form-control col-7">
            </div>
            <div class="form-group row">
              <label for="prenom" class="label col-3">Email</label>
              <input type="text" formControlName="email" class="form-control col-7">
            </div>
            <div class="form-group row">
              <label for="prenom" class="label col-3">Fonction</label>
              <input type="text" formControlName="poste" class="form-control col-7">
            </div>
            <div class="form-group row">
              <label for="prenom" class="label col-3">Nom Tuteur</label>
              <input type="text" formControlName="nomtuteur" class="form-control col-7">
            </div>
            <div class="form-group row">
              <label for="prenom" class="label col-3">Tel Tuteur</label>
              <input type="text" formControlName="telephonetuteur" class="form-control col-7">
            </div>
            <div class="form-group row">
              <label for="prenom" class="label col-3">Mentor</label>
              <select name="" id="" formControlName="mentor" class="form-control col-7">
                <option *ngFor="let item of mentor" value="{{item.id}}">{{item.nom}}</option>
              </select>
             
            </div>
            <div class="form-group">
              <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-9 col-md-9 col-sm-9 col-xs-12 button-contain">
                <button class="btn btn-primary" (click)="save(user.value)">Save</button>
                <button class="btn btn-primary">Canccel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>