<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="form-group marginRech">
        <input type="search" placeholder="Recherche" class="inputRech">
    </div>
    
    </div>
    <div class="col-7"></div>
    <div class="col-2">
      <a [routerLink]="['/structure/addteam',rien]">Ajout Team
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-3" *ngFor="let item of infos">
      
      <div class="card">
        <div class="card-body">
          <a  [routerLink]="['/onestructure/user',item.id]">
          <h5 class="card-title">{{item.nom}}</h5>
        </a>
        </div>
      </div>
   
    </div>
  </div>
</div>