
<div class="container">
  <div class="row">
      <div class="col-md-6 ">
          <img class="never" src="assets/mbackenever.png" alt="" width="400" height="509">
      </div>
      <div class="col-md-6 formulaire">
          <div class="row ">
                  <img class="logo" src="assets/growacademy.png" alt="">
          </div>
          <form  class="form" [formGroup]="utilisateur" (ngSubmit)="addsys(utilisateur.value)">
              <div class="row">
                      <div class="form-group col-md-8 ">
                          <input class="input" type="email" class="form-control " formControlName="username" placeholder="Username">
                      </div>
              </div>
                
              <div class="row">
                      <div class="form-group col-md-8 ">
                          <input class="input" type="email" class="form-control " formControlName="password" placeholder="Password">
                      </div>
              </div>
              <div class="row">
                      <div class="form-group col-md-8">
                              <input class="bouton" type="submit" [disabled]="!utilisateur.valid" class="form-control ">
                      </div>
              </div>
         
          </form>
      </div>

  </div>

</div>