.logo{
  width: 30%;
  text-align: center;
  margin-left: 150px;
}
.img{
  height: 30%;
}
.input{
  border-radius: 15px;
  margin-bottom: 10px;
  border:  solid white;
  background-color: #E9E9E9;
  height: 30px;
  width: 250px;
  color: white;
  padding: 15px;
}

.bouton{
  background-color: #FF4080;
  border: 1px solid #FF4080;
  color: white;
  border-radius: 15px;
  width: 35%;
  text-align: center;
  margin-left: 80px;
  margin-bottom: 20px;

}

.form{
  border: 2px solid #E9E9E9;
  border-radius: 20px;
  padding-left: 100px;
  padding-top: 30px;
  box-shadow: 2px 2px 2px 2px #E9E9E9 ;


}

.formulaire{
padding-top: 65px;
}


/*resolution d'ecran à 640px*/

@media screen and (max-width: 440px){
  $url:"/assets/mbackenever1.png";
  body{
     width: auto;
   margin:0;
     padding: 0;
     background-image: url($url);
     background-repeat: no-repeat;
    //  background: {
    //   image: url($url);
    //   // repeat:no-repeat;
    //  };
  }
.never{
   visibility: hidden;
}

.formulaire{
   margin-top: -500px;
}
.input{

  height: 30px;
  width: 200px;
  color: black;
  background-color: rgb(187, 187, 187);

  

}

.form{
  border: 2px solid #E9E9E9;
  padding-left: 35px;
  padding-top: 30px;
  opacity: 0.9;
  background-color: white;
  margin:0;


}
.bouton{
  background-color: #FF4080;
  border: 1px solid #FF4080;
  color: white;
  border-radius: 15px;
  width: 35%;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 20px;

}
.logo{
  width: 30%;
  text-align: center;
  margin-left: 120px;
}



}