<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="form-group marginRech">
        <input type="search"  (keyup)=search($event.target.value) class="inputRech">
      </div>

    </div>
    <div class="col-7"></div>
    <div class="col-2">
      <a [routerLink]="['/collaborateur/add']">
        <!-- <input type="submit" value="Ajout Collaborateur" class="btn btn-primary"> -->
        <div class="col-1"><span> <i style="font-size: 40px;" class="fa fa-plus-square"></i></span></div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4" *ngFor="let item of user">

      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <a [routerLink]="['/collaborateur/detail',item.id]">
        <div class="avatar">
          <img alt="" src="{{admin.urlimage}}uploads/{{item.image}}">
        </div>
        <div class="info">
          <div class="title">
            <strong class="strong">{{item.prenom}} {{item.nom}}</strong>
          </div>
          <div class="desc">{{item.poste}}</div>
          <div class="desc">Team Tech & Digital</div>
        </div>
        </a>
      </div>

    </div>
  </div>
</div>