<div class="container-fluid mt-5" >
<div class="row">
  <div class="col-lg-6">
    <div class="card line-chart-example">
      <div class="card-header d-flex align-items-center">
        <h4>Perseverance</h4>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="perseverance"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card line-chart-example">
      <div class="card-header d-flex align-items-center">
        <h4>Confiance</h4>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="confiance"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card line-chart-example">
      <div class="card-header d-flex align-items-center">
        <h4>Collaboration</h4>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="collaboration"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card line-chart-example">
      <div class="card-header d-flex align-items-center">
        <h4>Autonomi</h4>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <canvas id="autonomie"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</div>