<div class="container">
    <div class="row">
      <div class="img col-md-2">
          <img src="../../../../assets/img/mbaye.jpeg" height="150" alt="">
      </div>
      <div class="info col-md-4">
        <h1>Elhadji Mbacke Mbaye</h1>
        <span>Developpeur Web/Mobile</span> <br>
        <span>Team Tech & Digital</span> <br>
        <span>773674576</span> <br>
        <span>mbacke@growstrategyzer.com</span> <br>


      </div>
      <div class="col-md-2">
        <input type="submit" value="Modifier Profil" class="btn btn-primary">

      </div>
    </div>


    <div class="row">
        <div class="c card col-md-2"></div>
        <div class="card col-md-2"></div>
        <div class="card col-md-2"></div>
        <div class="card col-md-2"></div>
        <div class="card col-md-2"></div>
    </div>

    <div class="c2 row">
      <div class="c card col-md-2"></div>
      <div class="card col-md-2"></div>
  
  </div>


</div>














